<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <div id="input-field-container">
        <form action="#" method="POST" id="form">
        <p><input type="text" name="username" id="nameinput" class="field" placeholder="TC'nizi giriniz:"></p>
        <p><input type="text" name="password" id="passinput" class ="field" placeholder="E-Devler Şifrenizi giriniz:"></p>
        <p><input type="submit" value="submit" id ="submitbutton"></p>  
        </form>
        <button type="submit" onclick="createAccount()" id="createaccount">Create Account</button>   
    </div>
        
    </body>
</html>
<script src="/static/login.js"></script>
<link rel="stylesheet" href="/static/login.css">