<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <div id="input-field-container">
        <form action="#" method="POST">
        <p><input type="text" name="username"id="nameinput" class="field" placeholder="Kullanıcı Adınızı giriniz:"></p>
        <p><input type="text" name="password"id="passinput" class ="field" placeholder="Şifrenizi giriniz:"></p>
        <p><input type="submit" value="submit"id ="submitbutton"></p>  
        </form>
        </div>
    </body>
</html>
<link rel="stylesheet" href="/static/login.css">
<script src="/static/login.js"></script>